<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card ">
                <div class="card-header bg-success">
                    <h5><strong>Contact us</strong></h5>
                </div>
            </div>
            <div class="card-body bg-success">
                <form class="text-center" style="color:black;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="md-form m-3">
                        <!-- <label class="col-md-8 col-form-label" for="ContactFormName">Name</label> -->
                        <input class="form-control" type="text" formControlName="contactFormName" id="ContactFormName"
                            placeholder="Name..." required />
                    </div>

                    <div class="md-form m-3">
                        <!-- <label class="col-md-8 col-form-label" for="ContactFormEmail">E-mail</label> -->
                        <input class="form-control" type="email" formControlName="contactFormEmail"
                            id="ContactFormEmail" placeholder="Email..." required />
                    </div>

                   
                    <div class="md-form m-3">
                        <label for="ContactFormMessage">Message</label>
                        <textarea class="form-control md-textarea" type="text" formControlName="contactFormMessage"
                            id="ContactFormMessage" required></textarea>
                    </div>

                    <div class="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                            <label class="custom-control-label" for="customCheck1">Send me a copy</label>
                          </div>
                      </div>
                    <button mdbBtn color="info" outline="true" rounded="true" block="true"
                        class="z-depth-0 my-4 waves-effect" mdbWavesEffect type="submit"
                        [disabled]="disabledSubmitButton">
                        Send
                    </button>
                </form>

            </div>
        </div>
    </div>

</div>